.project {


    width: 16rem;
    /* background-color: #4e5156; */
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
/*     
     width: 20rem;
    height: 10rem;
    background-color: red;
    border: 1px solid green;
    margin: 10px;
    border-radius: 20px;  */
  


}
.imageDiv{
    /* width: 10rem; */
    /* background-color: #4e5156; */
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
}
.imageDiv  img{
    width: 100% !important;
    height: unset !important;
    object-fit: cover;
    transition: all 3s ease-in-out;
    position: absolute;
    top: 0;

 
}
:hover>.imageDiv img {
    top: -43rem;

}




.livelink {
    position: absolute;
    left: 0;
    bottom: -4rem;
    /* width: 100%; */
    width: 15rem;
    /* background-color: blue; */
    text-align: left;
    padding: 0.3rem 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.80));
    transition: all 0.5s ease-in-out;
   
}

.livelink span {
    font-size: 0.8rem !important;
    font-weight: 300 !important;
    text-decoration: none;
    color: white !important;
}

.livelink a {
    color: var(--orange);
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    text-decoration: none;
    margin-left: 5px;

}


:hover> .imageDiv .livelink {
    bottom: 0rem;
}