.card{
    width: 11rem;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}
.card span:nth-of-type(1) {
    font-weight: bold;
    font-size: 1rem;
}
.card span:nth-of-type(2){
    font-size: 1rem;
    color: var(--gray);
}
.card > img{
    transform: scale(0.6);
    margin-bottom: -2rem;
}
.c-button{
    background: #FFFFFF;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color : #5290FD;
}