.portfolio-container {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 0;
    align-items: center;
    text-align: center;


}
.flexsp{
    display: flex;
    flex-direction: column;
}


.portfolio-container span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.portfolio-container span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}