.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3) {
    font-weight: 100;
    font-size: 1rem;
    color: var(--gray);
    margin-top: 10px;
}

.i-button {
    width: 6rem;
    height: 2rem;
}

.i-icons {
    margin-top: 3rem;
    diaplay: flex;
    gap: 0rem;
}

.i-icons>a>* {
    transform: scale(0.5);
}

.i-icons>a>*:hover {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;

}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.69);
    top: -13%;
    left: -8%;
}

.i-right>:nth-child(2) {
    transform: scale(0.6);
    top: -6.5rem;
    left: 1.5rem;
}

.i-right>:nth-child(3) {
    transform: scale(0.67);
    left: -8%;
    top: -230px;
}

.i-right>:nth-child(4) {
    transform: scale(0.6);
    left: -19%;
    top: -24%;
    border-radius: 50%;
    padding: 0;

}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: -18%;
    left: 56%;
    /* transition: 0.5s; */
}

@media screen and (max-width:480px) {
    .intro {
        flex-direction: column;
        height: 55rem;
        gap: 2rem;
        margin-top: 3rem;
    }

    .i-right {
        transform: scale(0.8);
        left: -5rem;
    }

    .i-right .blur {
        display: none;
    }
  .i-icons{
        margin-top: 0rem !important;
    }
         .floating-div{
            transform: scale(0.8);
         }
    .floating-div:nth-of-type(1) {
        top: -6.5rem !important;
        left: 13.5rem !important
    }

    .floating-div:nth-of-type(2) {
      
        left: 3rem !important
    }
     
        .i-right>:nth-child(4){
            left: 0rem !important;
        }
}