.footer {
    display: flex;
    align-items: center;
    margin: 0.5rem -3.5rem -1rem -3.5rem;
    position: relative;
    margin-top: -10rem;
}

.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
    gap: 2rem;
    color: white;
}

.f-icons {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width:480px) {
    .footer {
    height: 12rem;
    }

    .footer>img {
    height: 19rem;

    }

    .f-content {
        margin-top: 5rem;
        gap: 0.5rem;
    }
    .f-icons{
            transform: scale(0.7);
            gap: 0.2rem;
    }
}