body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-list,
.slick-slider,
.slick-track {
  padding: 2rem 0;
}
.center .slick-center .projectClass{
transform: scale(1.3);
position: relative;
z-index: 10000;
transition: all 400ms ease-in-out;
background: var(--orange);
pointer-events: all;
opacity: 1;
}
.center .projectClass{
  opacity: 0.7;
  pointer-events: none;
}

@media screen and (max-width: 990px) {
  .center .slick-center .projectClass{
    transform: scale(1);
   
}
.center .projectClass {
  opacity: 1;
  pointer-events: all;
}
  
}
